extends layout

block layout-content
  div.View
    h1.Banner STONE
    div.Message
      div.Title
        h3 Who Am I
        h1 my stuff and my things
      span.Details Let's Get It
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!