extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner STONE HTB Writeups
    div.Message
      div.Title
        h3 HTB Machine Writeups
        h1 New Writeup: ForwardSlash!
      span.Details All active machine writeups are password protected.
    div.NavButtons
      a(href="/user")
          div.NavButton Login
          